DATABASE_URL=

FLASK_APP=
FLASK_ENV=
FLASK_RUN_PORT=
FLASK_DEBUG=1

JWT_SECRET=
JWT_SECRET_KEY=
JWT_ACCESS_EXPIRES_MINUTES=
JWT_REFRESH_EXPIRES_DAYS=


# docker set up 
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

VITE_API_BASE_URL=