.companyButton {
    width: clamp(140px, 15vw, 220px);
    height: clamp(30px, 8vw, 50px);
    padding: 8px 10px;
}

.companySwitcher{
    display: flex;
    flex-direction: column;
    line-height: 1.2; 
    width: 100%;
    min-width: 0; 
    
    span:first-child{
        font-weight: 600; 
        display: block;
        width: 100%;
        min-width: 0; 
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; 
    }

    span:last-child {
        font-weight: 400;
        color: #484848;
    }
}

.menuItem{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 180px;
    min-width: 0; 

    span:first-child {
        width: 100%;
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
