//color palette
$rhino-50:  #F4F6FB;  // background-lightest
$rhino-100: #E8EDF6;  // background-light
$rhino-200: #CCD9EB;  // border-subtle
$rhino-300: #9FBADA;  // border
$rhino-400: #6C95C4;  // hover-bg
$rhino-500: #4978AE;  // primary
$rhino-600: #375E92;  // primary-hover / primary-dark
$rhino-700: #2E4D76;  // button-hover / active
$rhino-800: #2A4365;  // text-primary
$rhino-900: #273953;  // heading / text-strong
$rhino-950: #1A2437;  // base text / darkest background



//dark 
$rhino-dark-950: #F4F6FB;   // text (lightest)
$rhino-dark-900: #E8EDF6;   // heading
$rhino-dark-800: #CCD9EB;   // text-subtle
$rhino-dark-700: #9FBADA;   // border
$rhino-dark-600: #6C95C4;   // hover background
$rhino-dark-500: #4978AE;   // primary
$rhino-dark-400: #375E92;   // primary-hover
$rhino-dark-300: #2E4D76;   // accent border
$rhino-dark-200: #2A4365;   // background-light
$rhino-dark-100: #273953;   // background-base
$rhino-dark-50:  #1A2437; 